<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser;else login_button">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<ng-template #login_button>
<h3><a [routerLink] = "'/login'">Login-test</a></h3>
</ng-template>

<router-outlet></router-outlet>
  <div>
    <select [(ngModel)]="settings.character">
      <option value=":3">:3</option>
      <option value=":D">:D</option>
      <option value=":)">:)</option>
      <option value="^^">^^</option>
      <option value="<(^~^<)"><(^~^<)</option>
    </select>

    <select [(ngModel)]="settings.size">
    <option value="2">2</option>
    <option value="4">4</option>
    <option value="6">6</option>
      <option value="8">8</option>
  </select>

    <button (click)="newGame()">New game</button>
  </div>
  <app-highscore [scores]="scores"></app-highscore>
  <app-board [game]="game" [addScore]="addScore.bind(this)"></app-board>
</div>

